q1 :
ineuron
ineuron ineuron
ineuron ineuron ineuron
ineuron ineuron ineuron

q2:
            ineuron
    ineuron        ineuron
ineuron     ineuron       ineuron
    ineuron        ineuron
            ineuron
        
        
q3:
"""l = [[1,2,3,4],(2,3,4,5,6),(3,4,5,6,7), set([23,4,5,45,4,4,5,45,45,4,5]), 
     {'k1':'sudh','k2':'ineuron','k3':'kumar',3:6, 7:8},['ineuron','data science']]"""
q3: try to extract all the list entity
q4: all dict entities
q5: all tuple entities
q6: all numerical data it may be a part of dict key & values
q7: try to give summation of all numeric data
q8: filter out all the odd values out of all numeric data which is a part of list
q9: extract 'ineuron' out of this data
q10: find out number of occurances of all the data
q11: find out number of keys in dict element
q12: filter out all the str data
q13: find out alphanumeric in data
q14: find out multiplication of all the numeric values in the individual collection insider dataset
q15: try to unwrap all the collection inside collection and create a flat list

In [1]:
#q1
a = 4

for i in range(a):
    for j in range(0, i+1):
        print("ineuron", end = "  ")
    print("\n")

ineuron

ineuron  ineuron

ineuron  ineuron  ineuron

ineuron  ineuron  ineuron  ineuron

In [2]:
#q2

n = 3

for i in range(n):
    print("       " *(n-i-1)+'ineuron       '*(i+1))
    
for i in range(n-1):
    print("       "*(i+1)+'ineuron       '*(n-i-1))

              ineuron
       ineuron       ineuron
ineuron       ineuron       ineuron
       ineuron       ineuron
              ineuron

In [3]:
l = [[1,2,3,4],(2,3,4,5,6),(3,4,5,6,7), set([23,4,5,45,4,4,5,45,45,4,5]), 
     {'k1':'sudh','k2':'ineuron','k3':'kumar',3:6, 7:8},['ineuron','data science']]

In [4]:
#q3:try to extract all the list entity

for i in l:
    if type(i) == list:
        print(i)

[1, 2, 3, 4]
['ineuron', 'data science']

In [5]:
#q4: extract all dict entities

for i in l:
    if type(i) == dict:
        print(i)

{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}

In [6]:
#q5: extract all tuple entities

for i in l:
    if type(i) == tuple:
        print(i)

(2, 3, 4, 5, 6)
(3, 4, 5, 6, 7)

In [7]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science']]

In [8]:
#q6: all numerical data it may be a part of dict key & values
l1=[]
for i in l:
    if type(i) == list or type(i) == tuple or type(i) == set:
        for j in i:
            if type(j) == int:
                l1.append(j)
    if type(i) == dict:
        for a,b in i.items():
            if type(a) == int or type(b) == int:
                l1.append(a)
                l1.append(b)
l1

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 3, 6, 7, 8]

In [9]:
#q7: try to give summation of all numeric data
sum(l1)

156

In [10]:
l1

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 3, 6, 7, 8]

In [11]:
#q8: filter out all the odd values out of all numeric data which is a part of list
for i in l:
    if type(i) == list:
        for j in i:
            if type(j) == int and j % 2 != 0:
                print(j)

1
3

In [12]:
#q9: extract 'ineuron' out of this data

for i in l:
    if type(i) == dict:
        for a,b in i.items():
            if a == 'ineuron' or b == 'ineuron':
                print(b)
    if type(i) == list:
        for j in i:
            if j == 'ineuron':
                print(j)

ineuron
ineuron

In [13]:
#q10: find out number of occurances of all the data
l2=[]

for i in l:
    if type(i) == tuple or type(i) == list or type(i) == dict or type(i) == set:
        for j in i:
            if type(j) == str or type(j) == int:
                l2.append(j)
    if type(i) == dict:
        for a,b, in i.items():
            if type(b) == str or type(b) == int:
                l2.append(b)
for i in set(l2):
    print(i, ":", l2.count(i))

1 : 1
2 : 2
3 : 4
4 : 4
5 : 3
6 : 3
7 : 2
sudh : 1
kumar : 1
8 : 1
k2 : 1
45 : 1
k3 : 1
k1 : 1
data science : 1
23 : 1
ineuron : 2

In [14]:
#q11: find out number of keys in dict element
for i in l:
    if type(i) == dict:
            print(len(i.keys()))

5

In [15]:
#q12: filter out all the str data
l = [[1,2,3,4],(2,3,4,5,6),(3,4,5,6,7), set([23,4,5,45,4,4,5,45,45,4,5]), 
     {'k1':'sudh','k2':'ineuron','k3':'kumar',3:6, 7:8},['ineuron','data science']]

for i in l:
    if type(i) == dict:
        for k,m in i.items():
            if type(k) == str or type(m) == str:
                print(k)
                print(m)
    if type(i) == list:
        for j in i:
            if type(j) == str:
                print(j)

k1
sudh
k2
ineuron
k3
kumar
ineuron
data science

In [16]:
#q13: find out alphanumeric in data
l4 = []
for i in l:
    if type(i) == dict:
        for a,b in i.items():
            if type(a) == str:
                if i[a].isalnum() == True:
                    l4.append(a)
l4

['k1', 'k2', 'k3']

In [17]:
#q14: find out multiplication of all the numeric values in the individual collection insider dataset

l = [[1,2,3,4],(2,3,4,5,6),(3,4,5,6,7), set([23,4,5,45,4,4,5,45,45,4,5]), 
     {'k1':'sudh','k2':'ineuron','k3':'kumar',3:6, 7:8},['ineuron','data science']]


for i in l:
    x = 1
    if type(i) == list or type(i) ==  tuple or type(i) == set :
        for j in i:
            if type(j) == int:
                x*= j
        print('Product of', type(i), "=" , x)
    if type(i) == dict:
        for m,n in i.items():
            if type(m) == int and type(n) == int:
                x = x * m
                x = x * n
        print('Product of', type(i), "=" , x)

Product of <class 'list'> = 24
Product of <class 'tuple'> = 720
Product of <class 'tuple'> = 2520
Product of <class 'set'> = 20700
Product of <class 'dict'> = 1008
Product of <class 'list'> = 1

In [18]:
#q15: try to unwrap all the collection inside collection and create a flat list
l4=[]

for i in l:
    if type(i) == tuple or type(i) == set or type(i) == list:
        for j in i:
            if type(j) == str or type(j) == int:
                l4.append(j)
    if type(i) == dict:
        for k,m in i.items():
                l4.append(k)
                l4.append(m)
l4

[1,
 2,
 3,
 4,
 2,
 3,
 4,
 5,
 6,
 3,
 4,
 5,
 6,
 7,
 45,
 4,
 5,
 23,
 'k1',
 'sudh',
 'k2',
 'ineuron',
 'k3',
 'kumar',
 3,
 6,
 7,
 8,
 'ineuron',
 'data science']